.login-wrapper {
    display:grid;
    min-width: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(80px,auto);
    margin-bottom: 70px;
}

.login-content {
  grid-column:2/3;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
