<div class="login-wrapper">
<div class="login-content">
<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <p>
                    <mat-form-field>
                     <mat-icon matPrefix>person_outline</mat-icon>
                    <input  autofocus="false" type="text" matInput placeholder="Username" formControlName="username"/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input type="password" autocomplete="false" placeholder="Password" matInput formControlName="password"/>
                    </mat-form-field>
                </p>
                <div class="button">
                    <button type="submit" mat-button mat-raised-button color="primary">Login</button>
                </div>
               
            </form>
        
    </mat-card-content>
</mat-card>
</div>
</div>
