 $footer-bg: #ccc;
  $color: #f2f3fb;
  $color-smooth: #9da2ae;
  $input-border: #3a456a;
  $btn-bg-color: #f1f2fc;
  $btn-hover-bg: #d5d9f6;
  $btn-color: #1e2641;


.footer {
  font-size: 16px;
  background: $footer-bg;
  padding: 2em 4em;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1em;
  grid-column: 1/-1;
}

.footer ul {
  list-style: none;
}

.col {
  flex: 1;
}

.col-title {
  font-family: "Merriweather", serif;
  color: $color;
  font-size: 1.1em;
  font-weight: 500;
  padding: 0.5em 0;
}

.col-list a {
  color: $color-smooth;
  text-decoration: none;
  line-height: 1.4;
  font-weight: 400;
}

.col-list a:hover,
.col-list a:focus {
  text-decoration: underline;
}

.subscribe-form,
.social-media {
  display: flex;
  gap: 0.5em;
  padding: 0.5em 0;
}

.subscribe-input {
  width: auto;
  flex: 1;
  background: transparent;
  border: 0.06em solid $input-border;
  font-size: 1em;
  font-weight: 500;
  padding: 0.5em;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
  display: inline-block;
  color: $color-smooth;
}

.subscribe-input:focus {
  outline: none;
  border-color: $color;
  color: $color;
}

.subscribe-btn {
  background: $btn-bg-color;
  border: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
  display: inline-block;
  color: $btn-color;
  cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background: $btn-hover-bg;
}

.form-title,
.social-col-title {
  font-size: 1em;
  color: $color;
  font-weight: 500;
}

.social-media {
  flex-direction: column;
}

.social-media-list {
  display: flex;
  gap: 0.5rem;
}

.social-media-list a {
  padding: 0.5em;
  color: $color-smooth;
  display: flex;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
}

.social-media-list a:hover,
.social-media-list a:focus {
  color: $color;
  background: #ffffff1a;
}

.social-media-list svg {
  width: 1.5em;
  height: 1.5em;
  transition: all 0.25s ease 0s;
}

@media screen and (max-width: 750px) {
  footer {
    padding: 2em;
    flex-direction: column;
  }
}
