<div class="home-content">
    home works!
    <span class="error">Error: {{this.auth$ | async}} </span><br />
    <button mat-raised-button color="primary"
      matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
  </button>
  <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
</div>
<ngx-spinner  type="ball-scale-multiple"><p style="color: blue" > I am Loading... </p></ngx-spinner>


