.home-content{
 background: url('https://source.unsplash.com/1920x1080/?nature') no-repeat center;
   background-size: cover;
   height: 50vh;
   width:100%;
   animation-duration: 10s;
   -webkit-animation-duration: 10s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
  background-size: 3px 3px;
  z-index: 2;
}