
<ul class="nav-ul">
  <li class="nav-li first-padding"><a href="#home">JUST IN</a></li>
  <li class="nav-li">|</li>
  <li class="nav-li more-padding"><a href="#home">SEX TOYS</a></li>
  <li class="nav-li">|</li>
  <li class="nav-li more-padding"><a href="#clients">COCK RINGS</a></li>
  <li class="nav-li">|</li>
  <li class="nav-li more-padding"><a href="#home">DILDOS</a></li>
  <li class="nav-li">|</li>
  <li class="nav-li more-padding"><a href="#clients">ANAL TOYS</a></li>
  <li class="nav-li">|</li>
  <li class="nav-li more-padding"><a href="#clients">LUBRICANTS</a></li>
  <li class="nav-li">|</li>
  <li class="nav-li more-padding"><a href="#clients">SALE</a></li>
</ul>
