.nav-ul {
     flex-direction: column;
     font-size:20px;
     font-weight:bold;
     color:black;
     text-align:center;
}
.nav-li {
    padding: 0px 10px;
    display:inline-block;
}
.first-padding{
    padding-right:30px;
}
.more-padding{
    padding-left:30px;
    padding-right:30px;
}