
.nav-left {
    font-weight: bold;
    font-size: 28px;
    padding: 15px;
    float:left;

}
.nav-right {
   float:right;
   margin-top: 20px;
}
.nav-ul {
     flex-direction: column;
}
.nav-li {
    padding: 0px 10px;
    display:inline-block;
}
.text-li{
    margin-top: -1px;
    display: inline-flex;
}

i.icon-blue {
    color: black;
    display: inline-flex;
    vertical-align: top;
    font-size: 24px;
}
