<div class="nav-left"><span style="color:orange">LOVE</span><span style="color:grey">ME</span>SEXY</div>
<div class="nav-right">
    <ul class='nav-ul'>
        <li class="text-li">
            <input type="text"/>
        </li>
        <li class='nav-li'><a href="#">
            <i class="material-icons md-18 icon-blue">search</i>Search
        </a>
        </li>
        <li class='nav-li'><a href="#">
            <i class="material-icons icon-blue">account_circle</i>Sign up
        </a>
        </li>
        <li class='nav-li'><a href="#">
            <i class="material-icons icon-blue">favorite_border</i>Wish list
        </a>
        </li>
       
        <li class='nav-li'>
            <div *ngIf="!(auth$ | async)">
                <a routerLink='/login'>
                    <i class="material-icons icon-blue">face</i>Login
                </a>
            </div>
            <div *ngIf="auth$ | async">
                <a routerLink='/login'>
                    <i class="material-icons icon-blue">exit_to_app</i>Logout
                </a>
            </div>
        </li>
        
        <li class='nav-li'><a href="#">
            <i class="material-icons icon-blue">shopping_cart</i>Your cart({{ count$ | async}})
        </a>

        </li>
    </ul>

</div>


