<div class="wrapper">
  <header class="main-head">
    <app-header></app-header>
  </header>
  <nav class="main-nav">
    <app-menu></app-menu>
  </nav>
  <main class="main-content">
      <router-outlet></router-outlet>
      
  </main>
  <footer class="main-footer">
  <app-footer></app-footer>
  </footer>
</div>

<ngx-spinner  type="ball-scale-multiple"><p style="z-index:100;color: red" > Loading... </p></ngx-spinner>


