.wrapper {
    display:grid;
    min-width: 700px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: minmax(80px,auto);
}
.main-head {
  grid-column: 1/-1;
}
.main-nav {
  grid-column:2/3;
}
.main-content {
  grid-column: 1/-1;
}
.main-footer {
  grid-column: 1/-1;
}

